body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #706a6a;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #283031;
}

p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

p {
    font-size: 16px;
    line-height: 1.3;
    text-align: justify;
}

.bio {
    
    color: blue;
    text-align: left;
}