.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    gap: 16px;
    padding: 15px 30px;
}
.logo {
    font-weight: bold;
    border: 1px solid rgb(97, 94, 90);
    padding: 5px 15px;
    background-color: aqua;
}
.nav-menu a{
    margin-left: 15px;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #999;
    padding: 5px 10px;
    background-color:rgb(106, 102, 110) ;

}
.hiro {
    display: flex;
   align-items: center;
    gap: 20px;
    flex-wrap: wrap;
   padding: 40px 30px;
   background-color: #fff;
   border-bottom: 1px solid#ddd;
}
.hero-text {
    flex: 1;
    min-width: 280px;
}
.hero-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.hero-text p{
    margin-bottom: 280px;
    color: #666;
}
.hero-image {
    width: 280px;
    height: 200px;
    border: 1px solid rgb(136, 136, 158);
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(236, 204, 204);
    color: #999;
}